@import "../style.css";

/* 글자크기 */
.clublist-title {
	font-size: 24px;
	line-height: 1.6;	
}
.clublist-content {
	font-size: 14px;
	line-height: 1.6;
}

/* 가운데 정렬 */
#clublist-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 24px 16px 32px;
}


/* 검색창 */
#search-box {
	border-radius: 30px;
	border: 1px solid var(--gray04);
	height: 48px;
	width: 600px;
	padding: 10px 20px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	margin: 24px 0 32px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0/4%);
}

#search-text {
	font-size: 15px;
	color: var(--gray01);
	opacity: .3;
	font-weight: 500;
	width: 500px;
	border: none;
}
#search-btn {
	border: none;
	background-color: transparant;
	outline: none;
	width: 22px;
	height: 22px;
	margin-left: auto;
}


/* 가입한 모임 */
#clublist-joinlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 669px;
}
.joinlist-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#clublist-joinlist .joinclub {
	float: left;
	width: 330px;
	height: 284px;
	/* margin: auto; */
	box-shadow: 0 4px 8px 0 rgb(0 0 0/4%);
	border-radius: 10px 10px 0 0;
}

.joinclub .joinclub-image {
	width: 330px;
	height: 185px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.joinclub .joinclub-content {
	padding: 16px;
	background-color: var(--white)
}
.joinclub .joinclub-content .joinclub-header div:nth-child(1) {
	font-size: 14px;
	line-height: 1.6;
	color: var(--gray01);	
}
.joinclub .joinclub-content .joinclub-header div:nth-child(2) {
	font-size: 16px;
	line-height: 1.6;
	color: var(--balck);	
}

.joinclub .joinclub-content .joinclub-footer {
	display: felx;
	align-items: center;	
	justify-content: space-between;
	padding-top: 10px;
	font-size: 14px;
	line-height: 1.6;
	color: var(--gray02);
}



/* 추천하는 모임 */
.recommendlist-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#clublist-recommendlist {

}	

