@import "../style.css";

/* 공통사항 ------------------------------------------------- */
/* 상단 모임 프로필 ------------------------ */
#club-profile-background {
	width: 100%;
	height: 200px;
	background-color: var(--light-green);
}

#club-profile {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	margin-bottom: 80px;
}

/* 프로필 전체 */
#profile-info{
	display: flex;
	align-items: center;
}

/* 프로필 이미지 */
#profile-info .profile-image img {
	position: relative;
	top: -50px;
	width: 180px;
	height: 180px;
	border-radius: 100px;
	border: 1px solid var(--gray06);
}

/* 프로필 정보 */
#profile-info .clubInfo {
	margin-left: 10px;
}

#profile-info .clubInfo .clubName {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 10px;
}

#profile-info .clubInfo .club-title {
	display: flex;
	align-items: center;
	justify-content: center;
}

#profile-info .clubInfo .club-title .club-setting {
	padding: 0 0 5px 5px;
	cursor: pointer;
}

#profile-info .clubInfo .clubCreateDate {
	font-size: 13px;
	font-weight: 400;
	color: var(--gray02);
}

/* 모임 서브 메뉴 ------------------------*/
#sub-menu {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
	border-top: 1px solid var(--gray05);
	border-bottom: 1px solid var(--gray05);
	background-color: var(--white);
	margin-bottom: 80px;

	/* 상단 고정 작업*/
	position: sticky;
	top: -1px;
	z-index: 99999;
}

#sub-menu > nav {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	/*background-color: var(--white);*/
}

#sub-menu > nav > ul {
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 0;
	margin: 0;
}

#sub-menu > nav > ul > li {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;
}

#sub-menu >  nav > ul > li > a {
	width: 60%;
	height: 60%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
	transition: transform 0.3s ease, color 0.3s ease;

	color: var(--gray03);
}

#sub-menu > nav > ul > li > a:hover {
	transform: translateY(-2px);
}

#sub-menu .selected a {
	color: var(--main);
	font-weight: 700;
}

/* 팝업창 ------------- */
#popup {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	right: 0;
	margin: calc(0px - var(--main-menu-height)) auto;
	z-index: 100000000000000;

	justify-content: center;
	align-items: center;
}

#popup .window {
	width: 500px;
	height: auto;
	padding: 40px;
	background-color: var(--white);
	border-radius: 10px;
}

/* 팝업창 오른쪽 X 버튼 작업 */
#popup .window .popup-close {
	float: right;
}

#popup .window .popup-close .close-logo {
	cursor: pointer;
}

/* 일정 등록 작업 --------- */
.window-title {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 30px;
}

/* 일정 내용 */
.window-content{
	width: 100%;
}

.window-content tr {
	padding: 30px 0;
}

.window-content th {
	width: auto;
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	color: var(--dark-gray);
	padding: 15px 0;
	text-align: left;
}

.window-content td {
	/*padding: 0 15px;*/
}

.window-content .content-input {
	width: 100%;
	height: 30px;
	padding: 0 12px;
	border: 1px solid var(--gray06);
	border-radius: 6px;
	outline: none;
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	color: var(--gray02);
}

/* 커스텀 코스 생성하기_버튼 */
.course-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}

.course-add-btn {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid var(--gray05);
	background-color: var(--gray05);
	color: var(--dark-gray);
}

.course-add-btn:last-child {
	background-color: var(--white);
}
/* 일정 팝업 창 - 지도 보여주기 */
.course-map {
	width: auto;
	height: 300px;
	border: 1px solid var(--gray05);
	border-radius: 10px;
	margin-bottom: 20px;;
}

/* 사진첩 팝업창 작업 ------- */
.window-content .mt-name-input, .gallery-image {
	width: 100%;
	height: 30px;
	padding: 0 12px;
	border: 1px solid var(--gray06);
	border-radius: 6px;
	outline: none;
	background-color: transparent;
	font-weight: 400;
	font-size: 14px;
	color: var(--gray02);
}

.form-club-img .club-img-upload {
	margin-top: 15px;
}

/* 사진첩 이미지 미리보기 */
.form-club-img {
	margin-bottom: 20px;
}

.club-default-image {
	width: auto;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
}

/* 취소 + 닫기 버튼 */
.window-btn {
	display: flex;
	align-items: center;
	justify-content: right;
}

/* 취소 버튼 */
.close-btn {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid var(--main);
	background-color: var(--white);
	color: var(--main);
}

.plus-btn {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid var(--main);
	background-color: var(--main);
	color: var(--white);
	margin-left: 15px;
}




/* 1. 모임 정보 -------------------------------------------------- */
/* 1-1. 모임 채팅 + 가입하기 ------------- */
#info-btn {
	display: flex;
	justify-content: center;
	align-itmes: center;
}

#info-btn .chat-btn {
	width: 70px;
	height: 40px;
	background-color: var(--gray06);
	border-radius: 10px;
	margin-right: 10px;
}

#info-btn .chat-btn img {
	width: 35px;
	height: 20px;
}

#info-btn .register-btn {
	width: 100px;
	height: 40px;
    font-weight: 500;
    font-size: 16px;
	color: var(--white);
	background-color: var(--main);
	border-radius: 10px;
}

/* 1-2. 모임 정보 > 소개 ------------- */
#intro {
	padding: 0 40px;
}

.intro-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
	margin-bottom: 20px;
}

.intro-content {
	height: auto;
	border-radius: 10px;
	background-color: var(--gray07);
	padding: 20px;
  	display: flex;
  	margin-bottom: 70px;
  	align-items: center;
}

.intro-content pre {
  	line-height: 20px;
  	color: var(--gray02);
  	font-weight: 300;
}

/* 1-3. 모임 정보 > 모임원 수 ------------- */
#club-member {
	padding: 0 40px;
}

.memeber-toggle {
  	display: flex;
  	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: var(--gray02);
/* 	padding: 0 10px; */
	margin-bottom: 5px;
}

.memeber-toggle .toggle-icon {
	width: 30px;
	height: 30px;
}

.club-member-profile {
	padding: 5px 20px 100px 0px;
}

.club-member-profile .member-profile {
	display: inline-block;
	margin: 0 10px;
}

.club-member-profile .member-profile img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.club-member-profile .member-profile .member-name {
	margin-top: 5px;
	text-align: center;

}

/* 2. 모임 일정 -------------------------------------------------- */
/* 2-1. 일정 타이틀 + 일정 추가하기_버튼 */
#scheduler-sub-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 70px 5px 70px;
}

#scheduler-sub-head .scheduler-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
	/*margin-bottom: 20px;*/
}

#scheduler-sub-head .scheduler-add-btn {
	width: 100px;
	height: 35px;
	background-color: var(--light-green);
	border-radius: 10px;
}

#scheduler-sub-head .scheduler-add-btn .plus-logo {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#scheduler-sub-head .scheduler-add-btn span {
	padding-left: 5px;
	font-size: 14px;
	color: var(--main);
	cursor: pointer;
}


/* 2-2. 달력 커스텀 */
#calendar {
	height: auto;
	margin: 0 70px;
	padding-bottom: 70px;
	color: var(--dark-gray);
}

/* 2-2.a. 일정표 툴 바  */
.fc .fc-toolbar.fc-header-toolbar {
	margin: 0;
	background-color: var(--white);
	height: 60px;

	font-size: 12px;
	line-height: 30px;
	color: var(--dark-gray);
}

/* 2-2.b. 툴바_버튼------ */

/* 이전, 다음, 오늘 이동_버튼 */
.fc .fc-button{
	padding: 5px;
}

.fc .fc-button .fc-icon {
	color: var(--gray03);
}

.fc .fc-toolbar-chunk .fc-button {
	background-color: var(--white);
	color: var(--gray02);
	box-shadow: none;
	border: none;
	outline: none;
	font-size: 14px;
}

/* 툴바 버튼 hover 시 배경색 변경 */
.fc .fc-toolbar-chunk .fc-button:hover {
	background-color: var(--white);
	box-shadow: none;
	border: none;
	outline: none;
}

/* 툴바 사용 불가 버튼 hover 시 스타일 주지 않기 */
.fc .fc-toolbar-chunk .fc-button:disabled:hover {
	background-color: var(--white);
	box-shadow: none;
	border: none;
	outline: none;
}

 /*날짜변경 화살표 아이콘*/
.fc .fc-button-primary span {
	 outline: none;
	 box-shadow: none;
 	 border: none;
	 background-color: var(--white);
}

/* 2-2.c. 날짜 수정 작업 ---------*/
/* 일요일 날짜 : 빨간색 */
.fc .fc-day-sun a {
	color: var(--red);
}

/* 토요일 날짜: 파란색 */
.fc .fc-day-sat a {
	color: var(--blue);
}

.fc .fc-toolbar-title {
	font-weight: normal;
	font-size: 14px;
	color: var(--dark-gray);
}

.fc-daygrid-day-frame {
	padding: 5px;
}

/* 토요일 & 일요일 배경 색상 변경 */
.fc-day:first-child {
	background-color: var(--gray07);
}

.fc-day:last-child {
	background-color: var(--gray07);
}

/* 2-2-d. 일정 등록 > 캘린더에 보여지는 일정 ---------- */
.fc-event {
	padding: 5px 10px;
	margin-bottom: 5px;
	border: none;
	background-color: var(--white);
	cursor: pointer;
}

.fc-event-title {
	cursor: pointer;
}

.fc-event-title-container {
	color: var(--dark-gray);
	font-weight: 400;
	font-size: 14px;
	cursor: pointer;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
	margin: 8px;
}


/* 3. 모임 등산 기록 --------------------------------------------------*/
.sub-title {
	padding: 0 80px;
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
	margin-bottom: 20px;
}

#club-hike-list {
	padding: 0 80px 70px 80px;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	row-gap: 40px;
}

/* 3-1. 등산 기록 ------------- */
.club-hike {
	width: 480px;
	height: 300px;
	border-radius: 10px;
	padding: 20px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.club-hike .course-image .course-map {
	width: 220px;
	height: 260px;
	object-fit: cover;
	float: right;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

/* 3-1-a. 활동기록 내용 ------------- */
.club-hike .hike-main-content {
	width: 200px;
}

/* 3-1-b.제목 ------------- */
.club-hike .hike-main-content .hike-title {
	font-size: 18px;
	letter-spacing: .5px;
	border-bottom: 1px solid var(--gray06);
	line-height: 35px;
	font-weight: 600;
}

/* 3-1-c.컨텐츠 ------------- */
.club-hike .hike-main-content .hike-content {
	margin-bottom: 35px;
}

.club-hike .hike-main-content .hike-sub-content {
	padding-top: 10px;
	font-size: 14px;
	line-height: 1.6;
	color: var(--gray02);
	align-items: center;
	letter-spacing: .5px;
}

.club-hike .hike-main-content .hike-sub-content img {
	margin-right: 5px;
}

.club-hike .hike-total-record {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 0 5px;*/
}

.club-hike .hike-total-record .hike-total-time {
	width: 95px;
	height: 60px;
	border: 1px solid var(--gray06);
	border-radius: 10px;
	background-color: var(--gray06);
	align-items: center;
	text-align: center;
	color: var(--gray04);
	font-weight: 300;
	letter-spacing: .5px;
}

.club-hike .hike-total-record .hike-total-distance {
	width: 95px;
	height: 60px;
	border: 1px solid var(--gray06);
	border-radius: 10px;
	background-color: var(--white);
	align-items: center;
	text-align: center;
	color: var(--gray04);
	font-weight: 300;
	letter-spacing: .5px;
}

.club-hike .hike-total-record .hike-total-time span:nth-child(1), .hike-total-distance span:nth-child(1) {
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: var(--gray01);
	font-weight: 600;
	margin: 10px 0;
}

/* 4. 모임 사진첩 --------------------------------------------------*/

/* 4-1. 사진첩 타이틀 + 사진 추가하기_버튼 ------ */
#gallery-sub-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px 15px 80px;
}

.gallery-title {
	font-size: 18px;
	font-weight: 500;
	color: var(--black);
	/*margin-bottom: 20px;*/
}

.image-add-btn {
	width: 100px;
	height: 35px;
	background-color: var(--light-green);
	border-radius: 10px;
}

.image-add-btn .plus-logo {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.image-add-btn span {
	padding-left: 5px;
	font-size: 14px;
	color: var(--main);
	cursor: pointer;
}

/* 4-2. 사진첩 작업 ------ */
#club-gallery-list {
	padding: 0 80px 70px 80px;
	display: flex;
	flex-flow: wrap;
	column-gap: 16px;
	row-gap: 15px;

}

.club-gallery {

}

.club-gallery img {
	width: 155px;
	height: 155px;
	border-radius: 10px;
}
