@import "../style.css";

/* search */

.course-map {
    position: relative;
}

.input-area {
    position: absolute;
    z-index: 999;
    top: 30px;
    right: 40px;
    width: 320px;
}

.input-wrap {
    width: 100%;
    height: 48px;
    background-color: var(--white);

    border-radius: 30px;
    border: 1px solid var(--gray04);
    padding: 12px 50px 12px 20px;
}

.input-wrap input {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.input-wrap input::placeholder {
    font-weight: 400;
    color: var(--gray04);
}

.search-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 8px;
}

.auto-list {
    display: none;
    max-height: 375px;
    border-bottom: 1px solid var(--gray04);
    border-left: 1px solid var(--gray04);
    border-right: 1px solid var(--gray04);
    background-color: var(--white);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.auto-list .list-item {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 30px;
    cursor: pointer;
}

.auto-list .list-item:hover {
    background-color: var(--light-green);
}

.auto-list .list-item:not(:last-child) {
    border-bottom: 1px solid var(--gray04);
}


.auto-list .list-item h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray01);
}

.auto-list .list-item p {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray04);
}

.zoom-button-area {
    position: absolute;
    z-index: 999;
    right: 40px;
    bottom: 30px;

    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--gray04);
    width: 40px;
    height: 80px;

    display: flex;
    flex-direction: column;
}

.zoom-button-area > button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50% 0 0;
    cursor: pointer;
}

.zoom-button-area > button:disabled {
    background-color: var(--gray06);
    opacity: .5;
}

.zoom-button-area > button > img {
    width: 26px;
    height: 26px;
    cursor: pointer;
    pointer-events: none;
}

.zoom-in {
    border-bottom: 1px solid var(--gray04);
}

.label {
    font-size: 13px;
    text-shadow: -1px -1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white);
}

/* view */
.menu-area {
    position: absolute;
    z-index: 999;
    left: 1.5vw;
    top: 1.5vh;
}

.menu-window {
    width: 25vw;
    min-width: 300px;
    max-width: 350px;
    min-height: 224px;
    padding: 36px 28px;
    border: 1px solid var(--gray06);
    border-radius: 10px;

    background-color: var(--white);
    text-align: center;

    display: flex;
    flex-direction: column;
}

.menu-window > h1 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 28px;

}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.menu-title {
    font-weight: 500;
}

.menu-option {
    display: flex;
    gap: 20px
}

.radio-wrap input[type="radio"] {
    display: none;
}

.radio-wrap {
    display: flex;
    gap: 6px;
}

.radio-wrap label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--gray05);
    display: flex;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.radio-label {
    line-height: 1.2;
}

.radio-wrap input:checked + .radio-btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: var(--main);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.menu-window > form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    gap: 16px;

}

.menu-window .save {
    width: 100%;
    height: 48px;
    color: var(--white);
    font-weight: 500;
    background-color: var(--main);
    border-radius: 10px;
    font-size: 15px;
    margin-top: 50px;
}

.menu-window .save:disabled {
    background-color: var(--gray03);
}

.switch-mode {
    width: 100%;
    height: 60px;
    color: var(--blue);
    font-weight: 500;
    background-color: var(--light-blue);
    border-radius: 10px;
    font-size: 16px;
    margin-top: 18px;
}

