<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Doctype가 mapper로 시작하기 때문에 아래 태그도 mapper로 시작한다. -->
<!-- mapper 파일의 역할? : SQL query 작성 -->
<!-- mapper(java)파일의 경로와 함께 namespace에 파일명을 적는 것이 개발계의 관습. -->
<mapper namespace="com.test.hike.mapper.CommunityMapper">
	
	<!-- MyBatis가 DB의 컬럼명과 DTO의 필드명을 잘 매핑할 수 있게 resultMap 명시. -->
	<!-- 글 목록 -->
	<select id="boardList" resultType="CommunityBoardDTO">
		select * from CommunityBoard order by cm_board_id desc
	</select>
	
	<!-- 글 상세 -->
	<select id="boardView" resultType="com.test.hike.dto.CommunityBoardDTO">
        select 
            cm.cm_board_id,
            cm.user_id,
            cm.create_time,
            cm.title,
            cm.content,
            cm.type,
            cm.image,
            cm.board_like_id,
            c.comment_id,
            c.cm_board_id,
            c.user_id AS comment_user_id,
            c.content AS comment_content,
            c.create_time AS comment_create_time
        from community_board cm
        left JOIN comments c on cm.cm_board_id = c.cm_board_id
        where cm.cm_board_id = #{cm_board_id}
    </select>

</mapper>