<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.test.hike.mapper.LocationMapper">
    <!-- ResultMap 추가 -->
    <resultMap id="location" type="com.test.hike.dto.LocationDTO">
        <result property="locationId" column="location_id" />
        <result property="name" column="name" />
    </resultMap>
    
    <!-- ResultMap 적용 -->
    <select id="getAllLocations" resultMap="location">
        SELECT 
            location_id,
            name 
        FROM location
        ORDER BY location_id
    </select>
</mapper>