<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.test.hike.mapper.LocationMapper">
    <select id="getAllLocations" resultType="com.test.hike.dto.LocationDTO">
        SELECT 
        location_id as location_Id,  <!-- 언더바 주의 -->
        name 
    FROM LOCATION
    ORDER BY location_id
    </select>
</mapper>