<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Type의 별칭을 지정할 수 있다. -->
	<typeAliases>
		<typeAlias type="com.test.hike.dto.HikingRoadSpotDTO" alias="SpotDTO"/>
		<typeAlias type="com.test.hike.dto.MountainDTO" alias="MountainDTO"/>
		<typeAlias type="com.test.hike.dto.custom.MountainDTO" alias="CustomMountainDTO"/>
		<typeAlias type="com.test.hike.dto.custom.CoordDTO" alias="CustomCoordDTO"/>
		<typeAlias type="com.test.hike.dto.custom.RoadDTO" alias="CustomRoadDTO"/>
		<typeAlias type="com.test.hike.dto.HikingRoadDTO" alias="RoadDTO"/>
		<typeAlias type="com.test.hike.dto.ClubDTO" alias="ClubDTO"/>
		<typeAlias type="com.test.hike.dto.ClubGalleryDTO" alias="ClubGalleryDTO"/>
	</typeAliases>

</configuration>