@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: url('../fonts/Pretendard-Light.otf') format('otf');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: url('../fonts/Pretendard-Regular.otf');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: url('../fonts/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: url('../fonts/Pretendard-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: url('../fonts/Pretendard-ExtraBold.otf') format('opentype');
}

